<div>
    <link rel="stylesheet" href="../static/css/goal-list.css">
</div>

<div>
    <table class="goal-list">
        <tr>
            <th>目標</th>
            <th>期日</th>
        </tr>

        <tr>            
            <td>基本情報合格
            </td>
            <td>
                <label class="Label">
                <input id="block-01" type="checkbox" data-checkbox="0" class="toggle">
                6/11まで</label>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="context" data-content="0">
                内容です。
            </td>
        </tr>

        <tr>
            <td>TOEIC 600点</td>
            <td>
                <label class="Label">
                <input id="block-01" type="checkbox" data-checkbox="1" class="toggle">
                7/11まで</label>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="context" data-content="1">
                ないようです
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="../static/js/goal-list.js"></script>
</div>