<div>
    <link rel="stylesheet" href="../static/css/goal-list.css">
</div>

<div>
    <table class="goal-list">

        <tr>            
            <td class="table-content">
                <a>基本情報合格</a>
            </td>
            <td class="table-content">
                <label class="Label">
                <input class="toggle" type="checkbox" data-checkbox="0">
                6/11まで</label>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="context table-content" data-content="0">
                内容です。
            </td>
        </tr>

        <tr>
            <td class="table-content">TOEIC 600点</td>
            <td class="table-content">
                <label class="Label">
                <input class="toggle" type="checkbox" data-checkbox="1">
                7/11まで</label>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="context" data-content="1">
                ないようです
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="../static/js/goal-list.js"></script>
</div>