<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/templateLayout.css">
    </head>

    <body>
        <div id="contents-layout">
        <header id="contents-menu">
            <div id="titleLogo">
                Goal Manager
            </div>

            <nav id="navi">
                <a href="">マイページ</a>
                <a href="">ログアウト</a>
            </nav>

            <ul id="menu">
                <li><a href="">Goal</a></li>
                <li><a href="">TODO</a></li>
                <li><a href="">Have Done</a></li>
                <li><a href="">Take a Log</a></li>
            </ul>
        </header>

        <main id="contents-main">

        </main>
        </div>

        <aside id="contents-out">
            
        </aside>

        <footer id="contents-footer">
            
        </footer>
    </body>
</html>