.goal-list {
    display: block;
    margin-top: 100px;
    margin-left: 80px;
    font-size: 30px;
}

tr .table-content:nth-of-type(odd) {
  background-color: gold;
}

tr .table-content:nth-of-type(even) {
  background-color: pink;
  width: fit-content;
}

.Label::after {
	content: "\025bc";
}

.context {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

main div:nth-of-type(odd) {
  color: salmon;
}